.detail-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: #fdc500;
  max-width: 900px;
  margin: 0 auto;
}

.detail-img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.detail-img {
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(253, 197, 0, 0.5);
  transition: 0.3s;
}

.detail-img:hover {
  transform: scale(1.03);
  filter: drop-shadow(0 0 10px #fdc500);
}

.detail-info {
  background: rgba(0, 0, 0, 0.35);
  padding: 20px;
  border-radius: 12px;
  border: 2px solid #fdc500;
  box-shadow: 0 0 15px rgba(253, 197, 0, 0.3);
}

.detail-title {
  margin-top: 0;
  font-size: 2rem;
  text-shadow: 0 0 8px rgba(253, 197, 0, 0.6);
}

.detail-description {
  margin: 15px 0;
  line-height: 1.5;
}

.detail-price {
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-weight: bold;
}


@media (min-width: 768px) {
  .detail-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .detail-img-wrapper {
    flex: 1;
  }

  .detail-info {
    flex: 1;
  }
}