.navbar {
  background: rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 2px solid #fdc500;
}

.navbar a {
  color: #fdc500;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}

.navbar a:hover {
  color: #ffffff;
  transform: scale(1.05);
  filter: drop-shadow(0 0 6px #fdc500);
  transform: scale(1.05);
  transition: 0.3s;
}


.navbar img:hover {
  filter: drop-shadow(0 0 6px #fdc500);
  transform: scale(1.05);
  transition: 0.3s;
}